body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 2em;
    margin: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.hint {
    display: none;
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    color: darkred;
}

.hint-image {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    margin-top: 10px;
}



/* Hide admin buttons by default */
.hidden {
    display: none;
}
